<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Joke List</title>
    
  </head>
  <body>
    <body>
      <h1>Joke</h1>
      <ul>
          
              <li><%= jokes.joke %></li>
          
      </ul>
  </body>
  </body>
</html>