<!DOCTYPE html>
<html>
  <head>
    <title>Joke List</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <body>
        <form action="/jokes/show" method="get">
            <input type="submit" value="Get all jokes"/>
        </form>
        <form action="/jokes/random" method="get">
          <input type="submit" value="Get a random joke"/>
      </form>
  </body>
  </body>
</html>